.seccion {
  padding-left:8%
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

*{ box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}

body{height: 100vh;}
/*tamaño del mapa*/
.leaflet-container{
  height:  500px;
}


.rail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin: 100px;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sideBar{
  height: 100%;
  background-color: #212529;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.home{
      height: 100%;
      width: 100% ;
      background-color: lightgray;
      }

.railceld{
  text-align: center;
  padding: 8px;
  margin: 8%;
}

div .imagen {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 16px;
}

#Contenido{height: 100%; }
.rowl{
  
  max-height: 40em;
}

#root{height: 100%;}



.noticia{
  padding: 8%;
  align-content: center;
}

@media only screen and (max-width: 767px) {

  #sideBar{
    display: none;
  }
  .seccion{
    padding-right: 16px;
  }
}

#buscador{
  padding: 2% 8%;
}


.body{  background-color: #282c34; height: 100%;}


.Bienvenida{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 16px;
  padding-bottom: 16px;}

  .Carta{
    padding-bottom: 8px;
  }
  
  .titulo{
    color: aliceblue ;
  }

  #dropmenu{
    padding: 26px 0px;
    margin: 0% 65% 0% 0%;
    
  }
  

   .fullh{ height:  100% !important;}
   html{ height:  100% !important;}